<ion-header>
  <ion-navbar>
    <ion-title>
      Test Momindum
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <p padding class="article-content" [innerHTML]="articleHtml">
</ion-content>
